name: proyecto-openshift
# Namespace donde se desplegarán los recursos
namespace: "pluaj-dev-dev"

replicas: 1
image:
  repository: "juangrp/shadcn-datatable-practica"
  tag: "latest"

resources:
  requests:
    cpu: "500m"
    memory: "800Mi"
  limits:
    cpu: "1000m"
    memory: "1500Mi"

# configuracion service 
service:
  type: ClusterIP   # Tipo de servicio (ClusterIP, NodePort, LoadBalancer)
  port: 3000        # Puerto del servicio
  
# Configuración de la base de datos PostgreSQL
database:
  enabled: true
  image:
    repository: "postgres"
  pvc:
    size: "1Gi"
    storageClassName: "gp3"
  credentials:
    user: "admin"
    password: "admin"
    name: "openshift-db"
  service:
    port: 5432

# Configuración de HPA
hpa:
    enabled: true
    minReplicas: 1
    maxReplicas: 3
    cpuUtilization: 80
# configuracion de configmap 
configmap:
  enabled: true
  data:
    APP_ENV: "production"
# configuracion de secret 
secret:
  enabled: true
  username: admin
  password: superseguro

#configuracion de route
route:
  enabled: true
  host: miapp.midominio.com

#configuracion pvc 
pvc:
  enabled: true
  size: 1Gi

#configuracion network
networkPolicy:
  enabled: true  # Habilitar/deshabilitar la creación de la NetworkPolicy
  name: allow-to-backend-ingress  # Nombre de la política
  podSelector:
    app: mi-app-dt-clone  # Selector de pods destino
  fromSelector:
    app: mi-app-dt-helm  # Selector de pods origen
  port: 8082  #  Puerto de destino en micro-b (ajústalo según tu app) 
  protocol: TCP  # Protocolo permitido

