# Namespace donde se desplegarán los recursos
namespace: "pluaj-dev-dev"

replicas: 1
image:
  repository: "juangrp/shadcn-datatable-practica"
  tag: "latest"

resources:
  requests:
    cpu: "500m"
    memory: "800Mi"
  limits:
    cpu: "1000m"
    memory: "1500Mi"

# configuracion service 
service:
  type: ClusterIP   # Tipo de servicio (ClusterIP, NodePort, LoadBalancer)
  port: 3000        # Puerto del servicio
  
# Configuración de la base de datos PostgreSQL
database:
  enabled: true
  image:
    repository: "postgres"
  pvc:
    size: "1Gi"
    storageClassName: "gp3"
  credentials:
    user: "admin"
    password: "admin"
    name: "openshift-db"
  service:
    port: 5432

# Configuración de HPA
hpa:
  backend:
    enabled: true
    minReplicas: 1
    maxReplicas: 3
    cpuUtilization: 80
  frontend:
    enabled: true
    minReplicas: 1
    maxReplicas: 3
    cpuUtilization: 80
# configuracion de configmap 
configmap:
  enabled: true
  data:
    APP_ENV: "production"
# configuracion de secret 
secret:
  enabled: true
  username: admin
  password: superseguro

#configuracion de route
route:
  enabled: true
  host: miapp.midominio.com

#configuracion pvc 
pvc:
  enabled: true
  size: 1Gi

#configuracion network
networkPolicy:
  enabled: true
